<a href="/">Do you have account? Sign In</a>
<form action="/account/forgot" method="post">
    <h1 class="text-center">Forgot password</h1>
    <div class="text-center">
        Confirm your data for localization your account. Pls!
    </div>
    <div class="group">
        <label for="username">Your username</label>
        <input required type="text" id="username" name="username">
    </div>
    <div class="group">
        <label for="email">Your email</label>
        <input required type="email" id="email" name="email">
    </div>
    <div class="group">
        <label for="phone">Your phone number</label>
        <input required type="tel" id="phone" name="phone">
    </div>
    <button type="submit">Localize my account</button>
    <button type="reset">Cancel</button>
</form>