<a href="/signup">Don't have account? Register now!</a>
<form action="/account/authenticate" method="post">
    <h1 class="text-center">Access your account</h1>
    <div class="group">
        <label for="username">Username</label>
        <input required type="text" name="username" id="username">
    </div>
    <div class="group">
        <label for="password">Password</label>
        <input required type="password" name="password" id="password">
    </div>
    <a href="/forgot" class="text-center">Forgot your password?</a>
    <div class="group">
        <button type="submit">Sign In</button>
    </div>
</form>