<div class="block">
    <div class="col-1"></div>
    <div class="col-2">
        <a class="link" href="/signup">
            <h4 class="text-green text-end">Don't have account? Register now! <i class="fas fa-arrow-right"></i> </h4>
        </a>
        <form action="/account/authenticate" method="post">
            <h2 class="text-cyan">Welcome, </h2>
            <h2 class="text-cyan">Access your account</h2>
            <div class="group mt-2">
                <input required type="text" name="username" id="username">
                <label for="username">
                    <i class="fas fa-user"></i>
                    Enter your username or email
                </label>
            </div>
            <div class="group group-password">
                <input required type="password" name="password" id="password">
                <i class="fas fa-eye text-green" onclick="passwordView(this)"></i>
                <label for="password">
                    <i class="fas fa-lock"></i>
                    Enter your password
                </label>
            </div>
            <% if (msg){ %>
                <% if (msg.status === 400){ %>
                    <div class="alert alert-red">
                        Error!
                <% } else { %>
                    <div class="alert alert-green">
                        Success!
                <% } %>
                   <strong><%= msg.message %></strong> 
                </div>
            <% } %>
                <p class="text-center p-1">
                    <a href="/forgot" class="text-center link color-purple">
                        <i class="fas fa-question-circle"></i>
                        Forgot your password?
                    </a>
                </p>
                <div class="group mt-2">
                    <button class="w-100 p-3 bg-green" type="submit">
                        Sign In My Account <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
                <section class="text-center p-2">
                    <span class="text-cyan"><strong>Developed by:</strong></span>
                    <span class="text-green"><strong>Positron Technology & Danilo Costa</strong></span>
                </section>
        </form>
    </div>
</div>